backend/node-red.js
[{"id":"3c0755ef.aef12a","type":"http in","z":"c7c56298.d7873","name":"","url":"/data","method":"post","upload":false,"swaggerDoc":"","x":110,"y":380,"wires":[["7fd6d88a.a0d158"]]},{"id":"eecca2b2.295","type":"http response","z":"c7c56298.d7873","name":"","statusCode":"","headers":{},"x":650,"y":380,"wires":[]},{"id":"f8065f88.0366","type":"template","z":"c7c56298.d7873","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"ok","output":"str","x":470,"y":380,"wires":[["eecca2b2.295"]]},{"id":"532723bd.cc7c0c","type":"http in","z":"c7c56298.d7873","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":120,"y":540,"wires":[["471d33c9.8f4d3c"]]},{"id":"a8a55360.9a6fb","type":"http response","z":"c7c56298.d7873","name":"","statusCode":"","headers":{},"x":650,"y":540,"wires":[]},{"id":"a7a38c95.5a9e1","type":"function","z":"c7c56298.d7873","name":"","func":"var data = [\n    {\n        _id:\"kokot\",\n        name: \"Kokotsk치 52\",\n        lon: 16,\n        lat: 49,\n        reviews: [],\n        price: 20,\n        last_clean: null,\n        last_shit: null\n    },\n        {\n        _id:\"kokot\",\n        name: \"Kokotsk치 52\",\n        lon: 17,\n        lat: 48,\n        reviews: [],\n        price: 16.5,\n        last_clean: null,\n        last_shit: null\n    },\n        {\n        _id:\"kokot\",\n        name: \"Kokotsk치 52\",\n        lon: 16.5,\n        lat: 50,\n        reviews: [],\n        price: 20,\n        last_clean: null,\n        last_shit: null\n    },\n        {\n        _id:\"kokot\",\n        name: \"Kokotsk치 52\",\n        lon: 16.5,\n        lat: 48.5,\n        reviews: [],\n        price: 20,\n        last_clean: null,\n        last_shit: null\n    }\n];\n\nmsg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Access-Control-Allow-Origin\": \"*\",\n         \"Access-Control-Allow-Headers\": \"Origin, X-Requested-With, Content-Type, Accept\"\n};\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":460,"wires":[[]]},{"id":"2e78eb36.a88f44","type":"debug","z":"c7c56298.d7873","name":"","active":false,"console":"false","complete":"payload","x":410,"y":460,"wires":[]},{"id":"7fd6d88a.a0d158","type":"function","z":"c7c56298.d7873","name":"","func":"var building = global.get(\"meta\")||[];\n\nif(msg.payload.type == \"gateway\"){\n    \nvar oldBuilding = building.find((item) => (item._id == msg.payload._id ));\nvar building = building.filter((item) => (item._id != msg.payload._id ));\n    \n        var save = {\n        _id: msg.payload._id,\n        _type: msg.payload.type,\n        name: msg.payload.name,\n        lon: msg.payload.lon,\n        lat: msg.payload.lat,\n        humidity: msg.payload.humidity,\n        temperature: msg.payload.temperature,\n        rooms: [],\n        reviews: [],\n        price: 20,\n        temperature: msg.payload.temperature,\n        last_clean: null\n    }   \n    if(oldBuilding != null){\n        save.rooms = oldBuilding.rooms;\n    }\n    building.push(save);\n}\nelse if(msg.payload.type == \"node\"){\n    var searchedBuilding = building.find((item) => (item._id == msg.payload.for ));\n    if(searchedBuilding == null) return;\n    if(searchedBuilding.rooms == null){\n        searchedBuilding.rooms = [];\n    }\n    var newRooms = searchedBuilding.rooms.filter((item) => item._id != msg.payload._id);\n    var save = {\n        _id: msg.payload._id,\n        last_shit: msg.payload.last_shit,\n        temperature: msg.payload.temperature\n    }\n    newRooms.push(save);\n    searchedBuilding.rooms = newRooms;\n    building = building.filter((item) => (item.name != searchedBuilding.name));\n    building.push(searchedBuilding);\n}\n\nglobal.set(\"meta\", building);\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":380,"wires":[["f8065f88.0366","2e78eb36.a88f44"]]},{"id":"471d33c9.8f4d3c","type":"function","z":"c7c56298.d7873","name":"","func":"msg.payload = global.get(\"meta\")||[];\nmsg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Access-Control-Allow-Origin\": \"*\",\n         \"Access-Control-Allow-Headers\": \"Origin, X-Requested-With, Content-Type, Accept\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":540,"wires":[["a8a55360.9a6fb"]]},{"id":"13e079ac.5adaa6","type":"http in","z":"c7c56298.d7873","name":"","url":"/reviews","method":"post","upload":false,"swaggerDoc":"","x":100,"y":160,"wires":[["ac42758b.4aded8"]]},{"id":"f73502b2.630f5","type":"function","z":"c7c56298.d7873","name":"","func":"var building = global.get(\"meta\")||[];\n\nvar saveRev = building.find((item) =>  item._id == msg.payload.id );\n\nsaveRev.reviews.push({\n    message: msg.payload.message, \n    stars: msg.payload.stars\n});\n\nmsg.payload = {\n    for: msg.payload.id,\n    message: msg.payload.message, \n    stars: msg.payload.stars\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":160,"wires":[["6c4f706c.9f9a1","eeb637f9.4798b8"]]},{"id":"2df556bd.a13eea","type":"http response","z":"c7c56298.d7873","name":"","statusCode":"","headers":{},"x":810,"y":220,"wires":[]},{"id":"eeb637f9.4798b8","type":"cloudant out","z":"c7c56298.d7873","name":"","cloudant":"","database":"reviews","service":"toiletHackaton-cloudantNoSQLDB","payonly":true,"operation":"insert","x":700,"y":160,"wires":[]},{"id":"2bb9a8e5.d93e68","type":"http in","z":"c7c56298.d7873","name":"","url":"/reviews","method":"get","upload":false,"swaggerDoc":"","x":90,"y":100,"wires":[["7a43eecb.940b6"]]},{"id":"25544882.8b9a98","type":"http response","z":"c7c56298.d7873","name":"","statusCode":"","headers":{},"x":750,"y":80,"wires":[]},{"id":"7a43eecb.940b6","type":"function","z":"c7c56298.d7873","name":"","func":"msg.input = msg.payload.id;\nmsg.payload = { query: msg.payload, limit: 100 };\nmsg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Access-Control-Allow-Origin\": \"*\",\n         \"Access-Control-Allow-Headers\": \"Origin, X-Requested-With, Content-Type, Accept\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":100,"wires":[["65a5f02b.c05de"]]},{"id":"6c4f706c.9f9a1","type":"function","z":"c7c56298.d7873","name":"","func":"msg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Access-Control-Allow-Origin\": \"*\",\n         \"Access-Control-Allow-Headers\": \"Origin, X-Requested-With, Content-Type, Accept\"\n};\nmsg.payload = \"ok\";\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":220,"wires":[["2df556bd.a13eea"]]},{"id":"ac42758b.4aded8","type":"json","z":"c7c56298.d7873","name":"","pretty":false,"x":302.5,"y":167,"wires":[["f73502b2.630f5"]]},{"id":"65a5f02b.c05de","type":"cloudant in","z":"c7c56298.d7873","name":"","cloudant":"","database":"reviews","service":"toiletHackaton-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":420,"y":100,"wires":[["f8891d7e.2ea2e"]]},{"id":"f8891d7e.2ea2e","type":"function","z":"c7c56298.d7873","name":"","func":"msg.payload = msg.payload.filter((item) => item.for == msg.input);\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":100,"wires":[["25544882.8b9a98"]]},{"id":"d96e7737.829cf8","type":"http in","z":"c7c56298.d7873","name":"","url":"/service","method":"get","upload":false,"swaggerDoc":"","x":110,"y":640,"wires":[["9512d586.dd97e8"]]},{"id":"9512d586.dd97e8","type":"function","z":"c7c56298.d7873","name":"","func":"var building = global.get(\"meta\")||[];\nvar oldBuilding = building.find((item) => (item._id == msg.payload.id ));\noldBuilding.toilet_paper_left = 20;\n\nmsg.payload = oldBuilding;\n\nmsg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Access-Control-Allow-Origin\": \"*\",\n         \"Access-Control-Allow-Headers\": \"Origin, X-Requested-With, Content-Type, Accept\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":640,"wires":[["392b7220.8ee28e"]]},{"id":"392b7220.8ee28e","type":"http response","z":"c7c56298.d7873","name":"","statusCode":"","headers":{},"x":486.66666666666663,"y":638.8888888888889,"wires":[]},{"id":"cd345a9a.e1f1f8","type":"http in","z":"c7c56298.d7873","name":"","url":"/clean","method":"post","upload":false,"swaggerDoc":"","x":108.88888549804688,"y":813.3333129882812,"wires":[["3feba1aa.23e65e","94d400b7.d0be3"]]},{"id":"3feba1aa.23e65e","type":"function","z":"c7c56298.d7873","name":"","func":"var building = global.get(\"meta\")||[];\nvar oldBuilding = building.find((item) => (item._id == msg.payload._id ));\n\noldBuilding.last_clean = new Date();\n\nglobal.set(\"meta\", building);\n\nmsg.headers = {\n         \"Content-type\" : \"application/json\",\n         \"Access-Control-Allow-Origin\": \"*\",\n         \"Access-Control-Allow-Headers\": \"Origin, X-Requested-With, Content-Type, Accept\"\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":288.8888854980469,"y":813.3333129882812,"wires":[["e80e2120.71b49"]]},{"id":"e80e2120.71b49","type":"http response","z":"c7c56298.d7873","name":"","statusCode":"","headers":{},"x":485.5555521647135,"y":812.2222018771702,"wires":[]},{"id":"94d400b7.d0be3","type":"debug","z":"c7c56298.d7873","name":"","active":false,"console":"false","complete":"false","x":294.44444444444446,"y":881.1111111111111,"wires":[]}]